.wrap {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  width: 1000px; /* Set width */
  height: 800px; /* Set height */
  background-color: transparent; /* Set to transparent */
  padding: 20px;
}

.container {
  background-color: white;
  text-align: center;
  height: 75%;
  width: 100%; /* Set to 80% of the viewport width */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  border-radius: 20px;
  padding: 20px;
}

.container p {
  font-family: "Roboto", sans-serif; /* Use the Roboto font */
  font-size: 1.1em; /* Adjust size as needed */
}

.details-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  height: 150px;
  justify-content: center;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
}

.left-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Space between the upload and audio list sections */
  width: 100%; /* Take 100% of the parent container */
  margin-top: 10px; /* Add top margin to separate from the heading */
  height: 100%;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  margin-top: 10px; /* Ensure no top margin */
  height: fit-content; /* Adjust height based on content */
  top: 0; /* Align to the top of the parent */
}

.action-button {
  border: none;
  background: none; /* Remove background */
  cursor: pointer; /* Pointer cursor for buttons */
}

.icon {
  width: 30px; /* Adjust icon size */
  height: 30px; /* Adjust icon size */
}

.upload-container,
.audio-list-container {
  flex: 1; /* Allow both sections to take equal space */
}

.drag-drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Set a fixed height */
  max-height: 300px;
  text-align: center; /* Center text within the area */
  padding-left: 64px; /* Add left padding to shift text slightly to the right */
}
.drag-drop-area:hover {
  background-color: #f9f9f9; /* Light background on hover */
}

.input-field {
  width: 80%; /* Full width */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.audio-file-list {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
}

.audio-file-list li {
  margin: 10px 0; /* Space between audio file items */
}

.logout-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e53935; /* Darker red on hover */
}

.button-container-2 {
  display: flex;
  flex-direction: row;
}

.cancel-button {
  margin-left: 10px; /* Space between upload and cancel buttons */
  padding: 10px 15px; /* Padding for the button */
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.cancel-button:hover {
  background-color: #e53935; /* Darker red on hover */
}

.upload-button {
  padding: 10px 15px;
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

.upload-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
